/* Flashcard.css */

body {
  background-color: #ffffff;
}

.Category {
  background-color: #f4858e;
  width: 100%;
  height: 120px;
  text-align: center;
  overflow: hidden;
  padding-top: 20px;
}

.Card-Deck {
  background-color: #bfe2ca;
  width: 100%;
  height: 300px;
  text-align: center;
  overflow: hidden;
  padding-top: 20px;
}

/* ------------------------------------------------------- card --------------------------------------------------------------- */

.Card {
  background-color: #f0e0a2;
  width: 200px;
  height: 250px;
  text-align: center;
  font-size: 40pt;
  line-height: 250px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  left: 0;
  border-radius: 5%;
  transition: left 0.5s, opacity 0.5s, transform 0.5s;
  transform: rotateX(0deg);
  user-select: none;
}

.Deck {
  background-color: #a2a7f0;
  width: 200px;
  height: 80px;
  text-align: center;
  font-size: 30pt;
  line-height: 80px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  left: 0;
  border-radius: 5%;
  transition: left 0.5s, opacity 0.5s, transform 0.5s;
  transform: rotateX(0deg);
  user-select: none;
  border: #09d3ac;
  margin-left: 5px;
  border: 5px solid transparent;
}

.Deck:hover {
  border-color: #28a745;
}

.Card-hidden {
  display: none;
}

.Card-left-out {
  left: -100%;
}

.Card-right-out {
  left: +100%;
}

.Card-left-in {
  left: -100%;
  z-index: -1;
  transition-duration: 0.1s;
}

.Card-right-in {
  left: +100%;
  z-index: -1;
  transition-duration: 0.1s;
}

.Card-flip {
  transform: rotateX(90deg);
}
